<div id="list">
  <div>
    <h1>Carrito</h1>
    {{#if prodsInCart}}
      <h1>Productos en su carrito</h1>
      {{#each prodsInCart}}
        <article>
          <div>
            <h5>Articulo: {{product.title}}</h5>
            <p>Descripcion: {{product.description}}</p>
            <p>Precio: {{product.price}}</p>
            <p>Stock: {{product.stock}}</p>
            <p>Cantidad en carrito: {{quantity}} Unidades</p>
            <h2>ProductId: {{product._id}}</h2>
          </div>
          <button
            id="deleteProduct"
            data-cart-id="{{../cartId}}"
            data-product-id="{{product._id}}"
          >Eliminar</button>
        </article>
      {{/each}}
    {{else}}
      <p>No hay productos en su carrito.</p>
    {{/if}}
  </div>
  <form action="/api/carts/{{idToString}}/purchase" method="post">
    <button type="submit" id="purchaseCart">Comprar Carrito</button>
  </form>
</div>

<script src="/js/cart.js"></script>