{{#each products}}
<article>
  <div id="list" >
    <ul>
      <li>Producto: {{this.title}}</li>
      <li>Descripcion: {{this.description}}</li>
      <li>Precio: {{this.price}}</li>
      <li>Codigo: {{this.code}}</li>
      <li>Stock: {{this.stock}}</li>
    </ul>
  </div>
  </article>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>