

{{#each products}}
  <div class="row">
    <ul>
        <li>Producto: {{title}}</li>
        <li>Descripcion: {{description}}</li>
        <li>Precio: {{price}}</li>
        <li>Codigo: {{code}}</li>
        <li>Stock: {{stock}}</li>
    </ul>
  
  </div>
{{/each}}