
<div class="profile-container">
  <div class="avatar">
    <h2>Avatar</h2>
    <img src="../multer/users/img/{{avatar}}" alt="avatar" />
  </div>
  <div class="user-info">
    <h1>Profile</h1>
    <li>Bienvenido : {{user}}</li>
    <li>Account Role : {{role}}</li>
    <li>Cart Id: {{cart}}</li>
  </div>
  <div class="logout-container">
  <form class="logout" method="post" action="/api/sessions/logout">
    <button type="submit">Logout</button>
  </form>
</div>
</div>
  <div>
    
    <h1>Productos</h1>
    <div>
      {{#if products.hasPrevPage}}
        <a href="/products?page={{products.prevPage}}">Anterior</a>
      {{/if}}
      <span>Página {{products.page}} de {{products.totalPages}}</span>
      {{#if products.hasNextPage}}
        <a href="/products?page={{products.nextPage}}">Siguiente</a>
      {{/if}}
    </div>
    {{#each products.docs}}
      <article class="article-container">
        <form action="/api/carts/{{../cart}}/products/{{this._id}}" method="POST">
          <ul>
            <li>Id: {{this._id}}</li>
            <li>Producto: {{this.title}}</li>
            <li>Descripcion: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Codigo: {{this.code}}</li>
            <li>Stock: {{this.stock}}</li>
          </ul>
          <button type="submit" class="addCartBtn" id="btn">Agregar al carrito</button>
        </form>
      </article>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>