{{#each products}}
  <div id="list">
    <ul>
      <li>Id: {{id}}</li>
      <li>Producto: {{title}}</li>
      <li>Descripcion: {{description}}</li>
      <li>Precio: {{price}}</li>
      <li>Codigo: {{code}}</li>
      <li>Stock: {{stock}}</li>
    </ul>
  </div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>